.a-style {
    text-decoration: none;
}

.text {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
}

.content {
    text-decoration: none;
    height: 100vh;
    overflow: scroll;
}

.frame {
    background-color: aliceblue;
}

.img {
    border-radius: 8px;

}

.sidebar a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;

}

.table {
    width: 100%;
}

.sidebar {
    background-color: #fb7979;
}

.title {
    background-color: #FFB4B4;
}

.exit {
    background-color: rgba(250, 0, 33, 0.791);
}

.frame1 {
    background-color: rgb(135, 195, 223);
}

.frame2 {
    background-color: rgb(82, 197, 162);
}

.frame3 {
    background-color: rgb(95, 96, 96);
}

.frame4 {
    background-color: rgb(95, 96, 96);
    width: 150vh;
    height: 6vh;

}

.frame5 {
    background-color: rgb(95, 96, 96);
    width: 100%;
    height: 22%;

}

.me {
    margin-left: 80%;
}

.r {
    margin-left: 85%;
}

.active {
    background-color: #f8b2b2c5;
}

a {
    padding: 16px;
    display: block;
}

.sidebar-img {
    padding: 8px;
}

.sidebar-menu {}

.table-overflow {
    height: 400px;
    overflow: scroll;
}

.table1 {
    height: 400px;
    overflow: auto;
}

.style-table {
    display: block;
    border-bottom: 0px;
}

.count {
    font-family: sans-serif;
    text-align: center;

}

.EmpF {
    background-color: rgb(244, 143, 229);
    height: 80vh;
}

.f1 {
    background-color: rgb(249, 249, 249);
    height: 76vh;

}

.f2 {
    background-color: rgb(249, 249, 249);
    margin:auto;
    width: 160vh;
    height: 55vh;
}

.cter {
    margin-right: 80%;
}

.text-count{
    width: 50px;
}

.center1{
    margin: auto;
}

.tick{
    background-color: #fb7979;
    width: 200vh;
    height: 1vh;
    margin-bottom: 10px;

}

.f4 {
    background-color: rgb(249, 249, 249);
    margin:auto;
    width: 150vh;
    height: 25vh;
}

.f5 {
    background-color: rgb(249, 249, 249);
    margin-left: 8%;
    width: 100%;
    height: 100%;
}

.buton{
    margin-top: 3%;
    
}

.form-text{
    resize: none;
    width: 100%;
    height: 60%;
}

.text-tr{
   margin: auto;
}

.pix{
    height: auto;
    width: 60%;
    
}

.text-bank{
    margin-left: 20%;
}
